{% extends 'base.html.twig' %}


{% block body %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          {% include ('homepage/header.html.twig') %}

          <!-- ABOUT -->
          <div id="about" class="inner cover about content">
            <h2 class="cover-heading" style="background-color:rgba(0,0,0,.5);border-radius:1rem;max-width:23rem;text-align:center;margin: 0 auto;"><img src="/bundles/app/images/headshot.jpg" class="img-responsive img-rounded"/></h2>

            <h1 class="cover-heading">About</h1>

            <p class="lead textbox">
                Hello, and thanks for checking out my page and blog!<br><br>

                My name is Bryce Stevens and I'm a 23 year old aspiring programmer currently living in Nashville, Tennessee. <br><br>
                Having just graduated from the University of Florida with my bachelor's degree in history, I had no idea where I was going or what I wanted to do. One passion that has remained with me throughout my life has been my love for computers, gaming, and the internet. I had dabbled with basic web development (HTML, CSS) since I was a teenager, but hadn't really given any thought to making a career out of code. Luckily, I was pushed in the right direction and am learning new things about the world of software development each day. I'm currently running into barriers here and there because of my skill level, but I'm hard at work every day in order to improve my coding skills and make sure I'm utilizing the best practices. I have never gravitated towards design, art, and the visual side of things; which is why I think PHP is holding a spot as my favorite language (at least for now).<br><br>
                So, that's about it. If you have any other questions, or would like me to do some work for you, shoot me an email. Everything you need to get in touch with me is on my 'Contact' page.<br><br>Cheers.
            </p>
            
          </div>
          <!-- /ABOUT -->

        </div>

      </div>

    </div>

{% endblock %}
