{% extends 'base.html.twig' %}


{% block body %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        	{% include ('homepage/header.html.twig') %}

          <div id="contact" class="inner cover">
            <h1 class="cover-heading">Contact</h1>
            <p class="lead"></p>
            <p class="lead">
				<a href="mailto:bryce.stevens155@gmail.com?subject=Hello!&body=Hello Bryce Stevens, " type="button" class="btn btn-default" target="_blank"><i class="fa fa-envelope"></i><br>Email</a>
				<a href="https://github.com/JBStevens15" type="button" class="btn btn-default" target="_blank"><i class="fa fa-github"></i><br>Github</a>
				<a href="https://twitter.com/JBStevens15" type="button" class="btn btn-default" target="_blank"><i class="fa fa-twitter"></i><br>Twitter</a>
				<a href="https://www.facebook.com/JBStevens15" type="button" class="btn btn-default" target="_blank"><i class="fa fa-facebook"></i><br>Facebook</a>
            </p>
          </div>

        </div>

      </div>

    </div>

{% endblock %}
