{% extends 'base.html.twig' %}


{% block body %}


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

            {% include ('homepage/header.html.twig') %}
            
          <!-- HOME -->
          <div id="home" class="inner cover">
            <h2 class="cover-heading">Bryce Stevens</h2>
            <p class="lead"><i>Junior Web Developer honing his <br>HTML, CSS, JavaScript, and PHP skills</i></p>
            
          </div>
          <!-- /HOME -->

        </div>

      </div>

    </div>

{% endblock %}
