{% extends 'base.html.twig' %}


{% block body %}

            {% include ('homepage/header.html.twig') %}

    <main class="container">
        <div class="row">
            <div class="col-xs-12">
              <!-- HOME -->
                <div id="home" class="content vert-center">
                    <h1 class="home-content-name">Bryce Stevens</h1>
                    <p class="home-content-bio"><i>Junior Web Developer honing his HTML, CSS, JavaScript, and PHP skills</i></p>
                        <a href="{{ path('app_about') }}" class="btn btn-default">More about me</a>
                        <a href="{{ path('app_contact') }}"  class="btn btn-default">Contact me</a>
                        <a href="{{ path('app_blog') }}" class="btn btn-default">Check out my blog</a>
                </div>
                <!-- /HOME -->
            </div>
        </div>
    </main>
{% endblock %}
