{% extends 'base.html.twig' %}


{% block body %}

            {% include ('homepage/header.html.twig') %}

    <main class="container">
        <div class="row">
            <div class="col-xs-12">
              <!-- HOME -->
                <div id="home" class="content">
                    <h2 class="">Bryce Stevens</h2>
                    <p class=""><i>Junior Web Developer honing his <br>HTML, CSS, JavaScript, and PHP skills</i></p>
                </div>
                <!-- /HOME -->
            </div>
        </div>
    </main>
{% endblock %}
