{% extends 'base.html.twig' %}


{% block body %}

        	{% include ('homepage/header.html.twig') %}
	<main class="container">
          <div id="projects" class="content">
            <h1 class="">Projects</h1>

            <div class="row">
			  <div class="col-xs-12">
			    <div class="thumbnail">
			      <img src="bundles/app/images/workout-log-screenshot.jpg" alt="Screenshot of workout">
			      <div class="caption">
			        <h3>Workout Log</h3>
			        <p>Basic workout log application built with Symfony3 that communicates with a mySQL database using basic CRUD operations.</p>
			        <p><a href="https://github.com/JBStevens15/symfony3-workout-log" class="btn btn-info" target="_blank" role="button">Github</a></p>
			      </div>
			    </div>
			  </div>

			  <div class="col-xs-12">
			    <div class="thumbnail">
			      <i class="fa fa-wrench"></i>
			      <div class="caption">
			        <h3>Coming soon...</h3>
			        <p>We'll put some happy little leaves here and there. Sometimes you learn more from your mistakes than you do from your masterpieces. Let's do it again then, what the heck. This is a happy place, little squirrels live here and play.</p>
			        <p><a href="https://github.com/JBStevens15/" class="btn btn-info" target="_blank" role="button">Github</a></p>
			      </div>
			    </div>
			  </div>

			  <div class="col-xs-12">
			    <div class="thumbnail">
			      <i class="fa fa-wrench"></i>
			      <div class="caption">
			        <h3>Coming soon...</h3>
			        <p>Let all these things just sort of happen. You have to make almighty decisions when you're the creator. Just let this happen. We just let this flow right out of our minds.</p>
			        <p><a href="https://github.com/JBStevens15/" class="btn btn-info" target="_blank" role="button">Github</a></p>
			      </div>
			    </div>
			  </div>
			</div>
 
          </div>
	</main>
{% endblock %}
