{% extends 'base.html.twig' %}


{% block body %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        	{% include ('homepage/header.html.twig') %}

          <div id="blog" class="inner cover">
              <div class="row">

                  <div class="col-md-16 blog-main" style="padding-bottom:5rem;">

                    {% for post in blogPosts %}
                      <div class="blog-post">
                          <h2 class="blog-post-title">{{ post.title }}</h2>
                          <p class="blog-post-meta">{{ post.date|date('F jS, Y') }} by <i>{{ post.author }}</i></p>

                          <div>{{ post.postText|nl2br }}</div>
                      </div><!-- /.blog-post -->
                    {% endfor %}

                  </div><!-- /.blog-main -->

              </div><!-- /.row -->
          </div>

        </div>

      </div>

    </div>

{% endblock %}
