{% extends 'base.html.twig' %}


{% block body %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        	{% include ('homepage/header.html.twig') %}

          <div id="blog" class="inner cover">
            <h3>Coming soon...</h3>
          </div>

        </div>

      </div>

    </div>

{% endblock %}
